.page_top_icons {
    height: 44px;
    width: 44px;
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 4px;
    margin-left: 4px;
}

.page_top_icons:last-child{

}
.portal_from_left .topGlobal{
    left:450px;
    border-left:1px solid #efefef;
    -webkit-box-shadow: -1px 1px 1px 0px rgba(36,36,36,0.27);
    -moz-box-shadow: -1px 1px 1px 0px rgba(36,36,36,0.27);
    box-shadow: -1px 1px 1px 0px rgba(36,36,36,0.27);
}

.portal_from_left .topGlobal .body{
    overflow-y: auto;
    padding:8px 16px;
    flex:1
}
.portal_from_left .topGlobal{
    left:250px;
    border-left:1px solid #efefef;
}
