.App {
  text-align: center;
  user-select: none;
  background-color: #f7f7f7;
}
#main-content{
    height:100vh
}
#root {
  position: relative;
}

.empty_record{
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
