body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ededed

}
::-webkit-scrollbar { display: none; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.hide{
  display: none;
}
.display_block{
  display: block;
}
.display_flex{
  display: flex;
}
.width_percent_80{
  width: 80%;
}
.width_percent_60{
  width: 60%;
}
.width_percent_50{
  width: 50%;
}
.width_percent_75{
  width: 75%;
}
.width_percent_100{
  width: 100%;
}
.mr16{
  margin-right: 16px;
}
.ml16{
  margin-left: 16px;
}
.fade-in {
  animation: fadeIn ease .5s;
  -webkit-animation: fadeIn ease.6s;
  -moz-animation: fadeIn ease .5s;
  -o-animation: fadeIn ease .5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
button{
  margin-right: 8px !important;
}
