.weui-half-screen-dialog{
    padding: 0!important;
    background-color:#fff
}
.weui-half-screen-dialog .weui-cell{
    padding: 16px 8px !important;
}
.weui-cells__group_form .weui-cells:before,
.weui-cells__group_form .weui-cell:before{
    left:8px!important;
    right:8px!important
}
.weui-cells__group_form .weui-cells:after {
    left:8px!important;
    right:8px!important
}
.weui-half-screen-dialog__hd .weui-icon-btn{
    left:24px !important;
}
.weui-custom .weui-mask{
    z-index: 11000 !important;
}
.weui-custom .weui-half-screen-dialog{
    z-index: 15000 !important;
}
.weui-custom .weui-actionsheet{
    z-index: 16000 !important;
}
.weui-custom .weui-dialog{
    z-index: 17000 !important;
}
.weui-loading_toast .weui-mask_transparent,.weui-loading_toast .weui-toast,.weui-toast {
    z-index: 18000 !important;
}
.weui-toptips {
    z-index: 19000 !important;
}
.weui-badge-green{
    background-color: #0bb20c!important;
}
.weui-btn_disabled{
    color: rgba(0,0,0,0.2)!important;
    background-color: #f2f2f2!important;
}
.weui-cell__ft{
    display: flex;
    align-items: center;
    justify-content: center;
}
.weui-actionsheet__cell .middle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.weui-cell .weui-cell__hd{
    padding-left:0px;
    padding-right:16px;
}
.weui-cell .weui-cell__hd{
    display:flex;
    align-items: center;
}
.weui-cell svg{
    margin-right: 12px;
}
.weui-cells__group_form .weui-cell{
    padding:16px 12px;
}
#main-content .weui-icon-clear{
    top:25px;
    right:8px;
}
.weui-loading_toast p{
    margin-bottom: 0;
}

.admin-weui-custom .weui-mask,.admin-weui-custom .weui-half-screen-dialog {
    z-index: 100000;
}
.admin-weui-custom .weui-half-screen-dialog {
    max-width: 450px;
    margin:0 auto
}

